<%- include ('../partials/header') %>

    <div class="jumbotron">
        <h1>AAMS</h1>
        <h2>Cassandra Info</h2>
    </div>

    <div class="jumbotron">
        <h3>Cassandras</h3>
    </div>





    <div class="jumbotron">
        <div class="card-deck">

           <div class="card">
             <a href="<%= host_path %>/cassandra" class="btn btn-light">    
                <%- svgs.cassandra %>    
                Cassandra
             </a>
           </div>

           <div class="card">
            <a href="<%= host_path %>/mongo" class="btn btn-light">    
                <%- svgs.mongodb %>    
                MongoDB
            </a>
          </div>

          <div class="card">
            <a href="<%= host_path %>/postgresql" class="btn btn-light">    
                <%- svgs.postgresql %>    
                Postgresql
            </a>
          </div>

          <div class="card">
             <a href="<%= host_path %>/mysql" class="btn btn-light">    
                <%- svgs.mysql %>
                MySQL
             </a>
           </div>

           <div class="card">
            <a href="<%= host_path %>/es" class="btn btn-light">    
              <%- svgs.elastic_search %> 
               Elastic Search
            </a>
          </div>
           
         </div>
     </div> 
     
     
     <div class="jumbotron">
      <div class="card-deck">

        <div class="card">
          <a href="<%= host_path %>/sqlserver" class="btn btn-light">    
              <%- svgs.sqlserver %>   
             SQLServer
          </a>
        </div>

         <div class="card">
          <a href="#" class="btn btn-light">    
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d=""/></svg>      
          </a>
        </div>

        <div class="card">
          <a href="#" class="btn btn-light">    
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d=""/></svg>      
          </a>
        </div>

        <div class="card">
          <a href="#" class="btn btn-light">    
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d=""/></svg>      
          </a>
        </div>

        <div class="card">
          <a href="#" class="btn btn-light">    
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d=""/></svg>      
          </a>
        </div>
         
       </div>
   </div> 


    


<%- include ('../partials/footer') %>

