<%- include ('../partials/header') %>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="thumbnail">
        <img class="img-responsive" src="<%= pic.image %>" />
        <div class="caption-full">
          <h4><a><%= pic.name %></a></h4>
          <p><%= pic.description %></p>

          <form
            id="delete-form"
            action="/gallary/local/<%= pic._id %>?_method=DELETE"
            method="POST"
          >
            <a
              class="btn btn-large btn-warning"
              href="/gallary/local/<%= pic._id %>/edit"
              >Edit</a
            >
            <button class="btn btn-large btn-danger">Delete</button>
          </form>
        </div>
      </div>
      <div class="well">
        <div class="text-right">
          <a class="btn btn-success" href="/pic/<%= pic._id %>/comments/new"
            >Add new comment</a
          >
        </div>
      </div>
    </div>
  </div>
  <div class="text-left">
    <a class="btn btn-default" href="/gallary/local">Back</a>
  </div>
</div>
