<%- include ('../partials/header') %>

    <div class="jumbotron">
        <h1>AAMS</h1>
        <h2>GitLab Accounts</h2>
    </div>
    


    <div class="jumbotron">
        <div class="card-deck">

           <div class="card">
             <a href="<%= host_path %>/gitlab/ahmedamsoliman-1" class="btn btn-light">    
                <%- svgs.gitlab %>
                ahmedamsoliman-1
             </a>
           </div>

           <div class="card">
            <a href="<%= host_path %>/gitlab/ahmedamsoliman-2" class="btn btn-light">    
                <%- svgs.gitlab %>
                ahmedamsoliman-2
            </a>
          </div>

           <div class="card">
            <a href="<%= host_path %>/gitlab/ahmed-soliman" class="btn btn-light">    
                <%- svgs.gitlab %>
                ahmed-soliman
            </a>
          </div>
           
         </div>
     </div> 

    



<%- include ('../partials/footer') %>

