<%- include ('../../partials/header') %>

<div class="jumbotron">
    <h1>AAMS</h1>
    <h2>MongoDBs</h2>
</div>



<div class="jumbotron">
    <div class="card-deck">


       <div class="card">
        <a href="/mongo/ahmed" class="btn btn-light">    
            <%- svgs.mongodb %>    
            MongoDB Ahmed
        </a>
      </div>
      <div class="card">
        <a href="/mongo/localhost1" class="btn btn-light">    
            <%- svgs.mongodb %>    
            MongoDB Localhost1
        </a>
      </div>
      <div class="card">
        <a href="/mongo" class="btn btn-light">    
            <%- svgs.mongodb %>    
            MongoDB
        </a>
      </div>
      <div class="card">
        <a href="/mongo" class="btn btn-light">    
            <%- svgs.mongodb %>    
            MongoDB
        </a>
      </div>
      <div class="card">
        <a href="/mongo" class="btn btn-light">    
            <%- svgs.mongodb %>    
            MongoDB
        </a>
      </div>
       
     </div>
 </div>



<script src="/scripts/script_mongo.js"></script>

<%- include ('../../partials/footer') %>
