<%- include ('../partials/header') %>


    <div class="jumbotron">
        <h1>AAMS</h1>
        <h2></h2>
    </div>

    <div class="jumbotron">
      <h1>Iam Users</h1>
      
      <% if (users && users.length > 0) { %>
          <ul>
              <% users.forEach(function(instance) { %>
                  <li>
                      <strong>Instance ID:</strong> <%= instance.InstanceId %><br>
                      Instance Type: <%= instance.InstanceType %><br>
                      State: <%= instance.State.Name %><br>
                      Tags: <%= instance.Tags.map(tag => tag.Key + ': ' + tag.Value).join(', ') %><br>
                      <!-- Add more instance details as needed -->
                  </li>
              <% }); %>
          </ul>
      <% } else { %>
          <p>No Users Found</p>
      <% } %>
    </div>
    
    

    


<%- include ('../partials/footer') %>

