<%- include ('../partials/header') %>


    <div class="jumbotron">
        <h1>AAMS</h1>
        <h2></h2>
    </div>

    <div class="jumbotron">
      <h1>S3 Manager</h1>
  
      <% if (s3_bucket_list && s3_bucket_list.length > 0) { %>
          <p>AWS S3 Buckets:</p>
          <ul>
              <% s3_bucket_list.forEach(function(bucket) { %>
                  <li>
                      <strong>Bucket Name:</strong> <%= bucket.bucket %> <br>
                      <strong>Total Objects:</strong> <%= bucket.objects_res.total %> <br>
                      <strong>Total Size:</strong> <%= bucket.objects_res.size %> bytes <br>
                      <strong>Objects:</strong>
                      <ul>
                          <% bucket.objects_res.list.forEach(function(object) { %>
                              <li><%= object %></li>
                          <% }); %>
                      </ul>
                  </li>
              <% }); %>
          </ul>
      <% } else { %>
          <p>AWS not Connected</p>
      <% } %>
    </div>
  
    

    


<%- include ('../partials/footer') %>

