<%- include ('partials/header') %>


<header class="jumbotron">
    <h1>Weclome To The Certifications Section</h1>
</header>

    <header class="jumbotron">
        <h2>AWS Badges</h2>
        <a href="https://www.credly.com/users/ahmed-ali-mohamed-soliman/badges" target="_blank" class="btn btn-warning">Credentials</a>
        <h4>count: <%= aws_badges.length %></h4>
    </header>
    <div class="container">
        <% aws_badges.forEach(function(pic) { %>
            <div class="col-md-3 col-sm-6">
                <div class="thumbnail">
                    <img src="<%= pic %>">
                    <div class="caption">
                        <!-- https://s3.amazonaws.com/aams-certs-and-badges-awscloud-001/aws-badges/AWS Architecting.png -->
                        <h4> <%= pic.split("aams-certs-and-badges-awscloud-001/AWS/Badges/")[1].replace(".png", "").replace("aws-badges/", "") %> </h4>
                    </div>
                </div>
            </div>
        <% }); %>
    </div>
    
    <header class="jumbotron">
    <h2>AWS Certifications</h2>
    <h4>count: <%= aws_cert.length %></h4>
    </header>
    <div class="container">
            <% aws_cert.forEach(function(pic) { %>
                <div class="col-md-3 col-sm-6">
                    <div >
                        <div class="caption">
                            <h4> <%= pic.split("aams-certs-and-badges-awscloud-001/AWS/Certifications/")[1].replace(".pdf", "").replace("aws-certifications/", "") %> </h4>
                        </div>
                        <p>
                            <a href="<%= pic %>" target="_blank" class="btn btn-danger">Open</a>
                        </p>
                    </div>
                </div>
            <% }); %>
        </div>
    </div>  
    
    
    <header class="jumbotron">
        <h2>Percipio - Skillsoft Certifications</h2>
        <a href="https://skillsoft.digitalbadges.skillsoft.com/profile/ahmedsoliman614032/wallet" target="_blank" class="btn btn-danger">Credentials</a>
        <h4>count: <%= percipio.length %></h4>
    </header>
    <div class="container">
        <% percipio.forEach(function(pic) { %>
            <div class="col-md-3 col-sm-6">
                <div class="thumbnail">
                    <img src="<%= pic %>">
                    <div class="caption">
                        <h4> <%= pic.split("aams-certs-and-badges-awscloud-001/Percipio/")[1].replace(".png", "") %> </h4>
                    </div>
                </div>
            </div>
            <% }); %>
    </div>

    <header class="jumbotron">
        <h2>Linkedin Courses Certifications</h2>
        <a href="https://www.linkedin.com/in/ahmedalimsoliman/" target="_blank" class="btn btn-info">Credentials</a>
        <h4>count: <%= linkedin.length %></h4>
    </header>
    <div class="container">
            <% linkedin.forEach(function(pic) { %>
                <div class="col-md-3 col-sm-6">
                    <div class="thumbnail">
                        <div class="caption">
                            <h4> <%= pic.split("aams-certs-and-badges-awscloud-001/Linkedin/")[1].replace(".png", "").replace(".jpg", "") %> </h4>
                        </div>
                        <p>
                            <a href="<%= pic %>" target="_blank" class="btn btn-info">Open</a>
                        </p>
                    </div>
                </div>
            <% }); %>
    </div>



    <header class="jumbotron">
    <h2>OAU University Certifications - Secondary Certificates - Sudanese Certifications</h2>
    <h4>count: <%= sdn.length %></h4>
</header>
<div class="container">
        <% sdn.forEach(function(pic) { %>
            <div class="col-md-3 col-sm-6">
                <div class="thumbnail">
                    <img src="<%= pic %>">
                    <div class="caption">
                        <h4> <%= pic.split("aams-certs-and-badges-awscloud-001/SDN/")[1].replace(".jpg", "").replace("_", " ").replace("_", " ").replace("_", " ").replace("_", " ") %> </h4>
                    </div>
                    <p>
                        <a href="<%= pic %>" target="_blank" class="btn btn-warning">Open</a>
                    </p>
                </div>
            </div>
        <% }); %>
    </div>

<header class="jumbotron">
    <h2>HCL Certifications</h2>
    <h4>count: <%= hcl.length %></h4>
</header>
<div class="container">
        <% hcl.forEach(function(pic) { %>
            <div class="col-md-3 col-sm-6">
                <div class="thumbnail">
                    <img src="<%= pic %>">
                    <div class="caption">
                        <h4> <%= pic.split("aams-certs-and-badges-awscloud-001/HCL/")[1].replace(".jpg", "").replace("_", " ").replace("_", " ").replace("_", " ").replace("__", " ").replace("_", " ").replace("_", " ").replace("_", " ") %> </h4>
                    </div>
                    <p>
                        <a href="<%= pic %>" target="_blank" class="btn btn-primary">Open</a>
                    </p>
                </div>
            </div>
        <% }); %>
    </div>





<header class="jumbotron">
    <h2>AWS Trainning Certifications</h2>
    <h4>count: <%= aws_train.length %></h4>
</header>
<div class="container">
        <% aws_train.forEach(function(pic) { %>
            <div class="col-md-3 col-sm-6">
                <div >
                    <div class="caption">
                        <h4> <%= pic.split("aams-certs-and-badges-awscloud-001/AWS/Trainning/")[1].replace(".pdf", "").replace("aws-trainning/", "") %> </h4>
                        
                    </div>
                    <p>
                        <a href="<%= pic %>" target="_blank" class="btn btn-danger">Open</a>
                    </p>
                </div>
            </div>
        <% }); %>
    </div>
</div>

<header class="jumbotron">
    <h2>Other Certifications</h2>
    <h4>count: <%= other.length %></h4>
</header>
<div class="container">
        <% other.forEach(function(pic) { %>
            <div class="col-md-3 col-sm-6">
                <div class="thumbnail">
                    <img src="<%= pic %>">
                    <div class="caption">
                        <h4> <%= pic.split("aams-certs-and-badges-awscloud-001/Others/")[1].replace(".jpg", "").replace("_", " ") %> </h4>
                    </div>
                    <p>
                        <a href="<%= pic %>" target="_blank" class="btn btn-danger">Open</a>
                    </p>
                </div>
            </div>
        <% }); %>
    </div>
</div>




