<%- include ('../partials/header') %>


<div class="jumbotron">
    <h1>AAMS</h1>
    <h2>AAMS Cloud</h2>
</div>






<div class="jumbotron">
 <div class="card-deck">
    <div class="card">
      <a href="/aws" class="btn btn-light">
        <%- svgs.aws %> 
        AWS
      </a>
    </div>

    <div class="card">
      <a href="#" class="btn btn-light">
        <%- svgs.azure %> 
        Azure
      </a>
    </div>

    <div class="card">
      <a href="/aams/cloud/gcp" class="btn btn-light">
        <%- svgs.gcp %> 
        GCP
      </a>
    </div>

    <div class="card">
      <a href="#" class="btn btn-light">
        <%- svgs.oracle %> 
        Oracle
      </a>
    </div>

    <div class="card">
      <a href="#" class="btn btn-light">
        <%- svgs.alibaba %>
        Alibaba 
      </a>
    </div>

    
    
    
  </div>
</div>    





<%- include ('../partials/footer') %>

