<%- include('partials/header') %>

<div class="jumbotron">
    <h1>AAMS Cloud</h1>
</div>

<div class="jumbotron">
    <h2><%= pageTitle %></h2>
</div>

<div class="container">
    <div class="row">
        <% services.forEach(service => { %>
        <div class="col-md-3 mb-4">
            <div class="card text-center" style="min-height: 200px; background-color: greenyellow">
                <div class="card-body">
                    <h5 class="card-title"><%= service.name %></h5>
                    <a href="<%= service.platform === 'render' ? `https://${service.name}.onrender.com/` : `https://${service.name}.vercel.app/` %>" class="btn btn-light mt-3">Visit</a>
                </div>
            </div>
        </div>
        <% }); %>
    </div>
</div>

<%- include('partials/footer') %>
